body{
    background-color: grey;
}
h1{
    margin:0 auto;
    display: flex;
    justify-content:center;
}
img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.space{
    margin: 0 auto;
    margin-top: 40px;
    width: 550px;
    display: flex;
    justify-content:space-around;
}